/*
 * Copyright [name of the author when individual or of the
 * legal entity when the software has been created under wage-earning status
 * adding underneath, if so required :" contributor(s) : [name of the
 * individuals] ([date of creation])
 *
 * [e-mail of the author(s)]
 *
 * This software is a computer program whose purpose is to [describe
 * functionalities and technical features of your software].
 *
 * This software is governed by the [CeCILL|CeCILL-B|CeCILL-C] license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the [CeCILL|CeCILL-B|CeCILL-C]
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 *
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL-B license and that you accept its terms.
 */

.bouton-reponse {
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 0.3rem;
    margin-top: 10px;
    color: #555;
    text-align: center;
    font-size: small;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.bouton-reponse:hover,
.bouton-reponse:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.bouton-selectionne {
    color: #333;
    border-color: #888;
    outline: 0;
    background-color: lightblue;
}

.bouton-retour {
    float: left;
    text-align: center;
    color: #03addd;
    cursor: pointer;
    text-decoration: none;
}

.bouton-retour:hover,
.bouton-retour:focus {
    color: #009fd0;
}

.bouton-avance {
    color: #03addd;
    cursor: pointer;
    text-decoration: none;
}

.bouton-avance:hover,
.bouton-avance:focus {
    color: #009fd0;
}

.bouton-vert {
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 0.3rem;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    font-size: small;
    text-decoration: none;
    background-color: #27ae60;
    border-color: #27ae60;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.bouton-jaune {
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 0.6rem;
    color: #fff;
    text-align: center;
    font-size: small;
    text-decoration: none;
    background-color: gold;
    border-color: gold;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.bouton-orange {
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 0.6rem;
    color: #fff;
    text-align: center;
    font-size: small;
    text-decoration: none;
    background-color: #f39c12;
    border-color: #f39c12;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}


.bouton-rouge {
    display: inline-block;
    padding: 10px 5px;
    margin-bottom: 0.6rem;
    color: #fff;
    text-align: center;
    font-size: small;
    text-decoration: none;
    background-color: #c0392b;
    border-color: #c0392b;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

button[disabled] {
    border-color: #ccc;
    text-shadow:none;
    color: #ccc;
}