/*
 * Copyright Toulouse INP - inp@toulouse-inp.fr - 22/02/2022
 *
 * contributor(s) :
 * - Jean-François Parmentier (jean-francois.parmentier@toulouse-inp.fr)
 * - John Tranier (john.tranier@ticetime.com)
 *
 * This software is governed by the CeCILL-B license under French law and
 * abiding by the rules of distribution of free software.  You can  use,
 * modify and/ or redistribute the software under the terms of the CeCILL-B
 * license as circulated by CEA, CNRS and INRIA at the following URL
 * "http://www.cecill.info".
 *
 * As a counterpart to the access to the source code and  rights to copy,
 * modify and redistribute granted by the license, users are provided only
 * with a limited warranty  and the software's author,  the holder of the
 * economic rights,  and the successive licensors  have only  limited
 * liability.
 *
 * In this respect, the user's attention is drawn to the risks associated
 * with loading,  using,  modifying and/or developing or reproducing the
 * software by the user in light of its specific status of free software,
 * that may mean  that it is complicated to manipulate,  and  that  also
 * therefore means  that it is reserved for developers  and  experienced
 * professionals having in-depth computer knowledge. Users are therefore
 * encouraged to load and test the software's suitability as regards their
 * requirements in conditions enabling the security of their systems and/or
 * data to be ensured and,  more generally, to use and operate it in the
 * same conditions as regards security.
 *
 * The fact that you are presently reading this means that you have had
 * knowledge of the CeCILL-B license and that you accept its terms.
 */

.text-center {
    text-align: center;
}
.button-primary,
.button-primary:focus,
.button-primary:active {
    color: #fff;
    background-color: #2980b9;
    border-color: #2980b9;
}
.button-primary:hover {
    color: #fff;
    background-color: #2573a7;
    border-color: #2573a7;
}
.button-success,
.button-success:focus,
.button-success:active {
    color: #fff;
    background-color: #27ae60;
    border-color: #27ae60;
}
.button-success:hover {
    color: #fff;
    background-color: #239d56;
    border-color: #239d56;
}
.button-info,
.button-info:focus,
.button-info:active {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.button-info:hover {
    color: #fff;
    background-color: #258bcf;
    border-color: #258bcf;
}
.button-warning,
.button-warning:focus,
.button-warning:active {
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}
.button-warning:hover {
    color: #fff;
    background-color: #e08e0b;
    border-color: #e08e0b;
}
.button-danger,
.button-danger:focus,
.button-danger:active {
    color: #fff;
    background-color: #c0392b;
    border-color: #c0392b;
}
.button-danger:hover {
    color: #fff;
    background-color: #ad3327;
    border-color: #ad3327;
}
.button.button-block {
    width: 100%;
}
