<!DOCTYPE html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="/favicon.ico"><title>revizoodle-client</title><script type="text/x-mathjax-config">MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$$','$$'] ],
      displayMath: [ ['$$$','$$$'] ],
      processEscapes: false
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });</script><script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js"></script><link href="/css/app.390253ff.css" rel="preload" as="style"><link href="/js/app.7dc7e6c3.js" rel="preload" as="script"><link href="/js/chunk-vendors.59b6a535.js" rel="preload" as="script"><link href="/css/app.390253ff.css" rel="stylesheet"></head><body><noscript><strong>We're sorry but revizoodle-client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div><script src="/js/chunk-vendors.59b6a535.js"></script><script src="/js/app.7dc7e6c3.js"></script></body></html>